.section {
    width: 100%;
}
.box {
    height: 800px;
    color: white;
    font-size: 2em;
}

.first-box {
    background-color: rgb(17, 204, 10);
    height: 100%;
}

.second-box {
    background-color: tomato;
}
.third-box {
    background-color: plum;
}
.row {
    height: 800px;
    background-color: lightcyan;
}

.md-dialog-content{
    width: 800px;
    height:600px;
}

.md-sidenav-left{
    background-color: tomato;
}


