<h1>Hello World</h1>

<div class="section" id="homeContent">




</div>

<div layout="row">
    <div id="fakeNav">
        <md-button id="fakeNavClosedBar" ng-click="ctrl.openLeftMenu()">
            <h1>*</h1>
        </md-button>
    </div>
    
        <div flex>
            <md-button class="md-primary md-raised" ng-click="ctrl.showTherapistInfo($event)">Show info</md-button>
        </div>
        <div flex>
            
<!-- Trying again -->
                      <md-content class = "md-padding">
                            <form ng-submit = "$event.preventDefault()">
                            
                               
                               <md-autocomplete
                                  ng-disabled = "ctrl.isDisabled"
                                  md-no-cache = "ctrl.noCache"
                                  md-selected-item = "ctrl.selectedItem"
                                  md-search-text-change = "ctrl.searchTextChange(ctrl.searchText)"
                                  md-search-text = "ctrl.searchText"
                                  md-selected-item-change = "ctrl.selectedItemChange(item)"
                                  md-items = "item in ctrl.querySearch(ctrl.searchText)"
                                  md-item-text = "item.display"
                                  md-min-length = "0"
                                  placeholder = "US State?">
                                  
                                  <md-item-template>
                                     <span md-highlight-text = "ctrl.searchText"
                                        md-highlight-flags = "^i">{{item.display}}</span>
                                  </md-item-template>

                                  
                                  <md-not-found>
                                     No states matching "{{ctrl.searchText}}" were found.
                                     <a ng-click = "ctrl.newState(ctrl.searchText)">Create a new one!</a>
                                  </md-not-found>


                               </md-autocomplete>

                               <br/>
                               
                               
                            </form>
                            <md-button ng-click = "ctrl.selectedStateArray(ctrl.searchText)">add</md-button>

                         </md-content>
                         <ul ng-repeat = "state in ctrl.newStateArray">
                              <li>  {{state}}</li>

                         </ul>
    </div>
</div>



<div layout="row">
    <md-sidenav md-component-id="left" class="md-sidenav-left">

        Left Nav!
        <md-button ng-click="ctrl.openLeftMenu()">
            Close nav bar
        </md-button>
    </md-sidenav>


</div>