<h1>Hello World</h1>

<div class="section" id="homeContent">




</div>

<div layout="row">
    <div id="fakeNav">
        <md-button id="fakeNavClosedBar" ng-click="ctrl.openLeftMenu()">
            <h1>*</h1>
        </md-button>
    </div>
    
        <div flex>
            <md-button class="md-primary md-raised" ng-click="ctrl.showTherapistInfo($event)">Show info</md-button>
        </div>
        <div flex>
            
<!-- Trying again -->
                      <md-content class = "md-padding">
                            <form ng-submit = "$event.preventDefault()">
                            
                               
                               <md-autocomplete
                                  md-selected-item = "ctrl.selectedItem"
                                  md-search-text-change = "ctrl.searchTextChange(ctrl.searchText)"
                                  md-search-text = "ctrl.searchText"
                                  md-selected-item-change = "ctrl.selectedItemChange(item)"
                                  md-items = "item in ctrl.issues"
                                  md-item-text = "item.name"
                                  md-min-length = "0"
                                  placeholder = "What are you looking for help with?">
                                  
                                  <md-item-template>
                                     <span md-highlight-text = "ctrl.searchText"
                                        md-highlight-flags = "^i">{{item.name}}</span>
                                  </md-item-template>

                                  
                                  <md-not-found>
                                     No issues matching "{{ctrl.searchText}}" were found.
                                     <a ng-click = "ctrl.newIssue(ctrl.searchText)">Please pick an issue from the list.</a>
                                  </md-not-found>


                               </md-autocomplete>

                               <br/>
                               
                               
                            </form>
                            <md-button ng-click = "ctrl.selectedIssuesArray(ctrl.searchText)">add</md-button>

                         </md-content>
                         <ul ng-repeat = "issue in ctrl.newStateArray">
                              <li>  {{issue}}</li>

                         </ul>
    </div>
</div>



<div layout="row">
    <md-sidenav md-component-id="left" class="md-sidenav-left">

        Left Nav!
        <md-button ng-click="ctrl.openLeftMenu()">
            Close nav bar
        </md-button>
    </md-sidenav>


</div>